/* Regole Comuni */

body {
    font-size: 1.0rem;
    margin: 3%;
    background-color: #EDEAE5;
    color: #648398;
}

/* header */

header {
    position: fixed;
    top: 0;
    width: 95%;
    box-sizing: border-box;
    z-index: 5;
    background-color: #EDEAE5;
    opacity: 0.8;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 3%;
}

#menuList {
    display: none;
    flex-direction: column;
    padding: 0% 3% 3%;
}

#menuList a {
    text-decoration: none;
    color: #648398;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid black;

}

#menuIcon {
    cursor: pointer;
}

/* main */
main {
    margin-top: 15vh;
}

/* footer */

footer {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

footer > p {
    font-size: 0.75em;
    margin-top: 1%;
}

#iconCont a {
    text-decoration: none;
}

/* index.html */

#mainCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10%;

}

#mainCont > * {
    padding: 3%;
    width: 70%;
}

#mainCont h1 {
    font-size: 1.8em;
    margin-top: 10%;
}

#mainCont h2 {
    font-size: 2.5em;
}

#mainCont p {
    margin-bottom: 10%;
}

/* portfolio.html */

#portfolio {
    margin-top: 10%;
}

#portfolio h2 , #aboutMe h2 {
    font-size: 1.8em;
    margin-bottom: 10%;
    text-align: center;
}

#imgCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#imgCont > img {
    width: 49%;
    margin-bottom: 2%;
}

/* about.html */

#aboutMe {
    margin-top: 10%;
}

#firstBlock, #secondBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

#firstBlock img, #secondBlock img {
    max-width: 45%;
    height: auto;
}

#firstBlock p, #secondBlock p {
    font-size: 0.8em;
    width: 45%;
}